body{
    background-size: cover;
    background-color: rgb(221, 136, 39);
    transition: 4s linear;
}
.ph{
    display: grid;
    grid-template-areas: 'box box box box'
                          'box1 box1 box1 box1'
                          'box25 box25 box25 box25'
                          'box26 box26 box26 box26'
                          'box2 box2 box2 box2'
                          'box3 box3 box3 box3'
                          'box5 box5 box5 box5';
}
#box5{
    grid-area: box5;
    width: 100px;
    height: 100px;
    border-style: inset;
    transform: rotate(500deg);
    transition: 3s linear;
    animation: asi 7s linear;
    position: relative;
    animation-iteration-count: infinite;
}
@keyframes asi{
    0% {background-color: darkgray; left:0px; top:0px;}
    25% {background-color: rgb(238, 232, 232); left:200px; top:00px;}
    50% {background-color: rgb(221, 224, 222); left:200px; top:-80px;}
    75% {background-color: darkgray; left:0px; top:-80px;}
    100%{background-color: darkgray;left: 0px; top:0px;}
    
}
#box5:hover{
    transform: rotate(50deg);
    /* transform: skew(2deg); */
    transform: scale();
    background-color: darkred;
}
body:hover{
background-color: rgb(125, 192, 125);
}
#box h1{
     text-align: center; 
    border-style: dashed;
    background-color: cornsilk;
        opacity: 0.7;

}
h2{
    text-align: center;
}
#box{
 position: fixed;
 width: 100%;
 height: 10px;
    grid-area: box;
    
}
#box1{
    padding: 31px;
    grid-area: box1;
  
}
#box1 img{
    box-shadow: -20px 19px 20px;
    border-radius: 50%;  
    margin-top: 109px;
    width: 266px;
    margin-left: 620px;



}

a:active{
    text-shadow: -2px -18px 3px #2abce1;
}
a:hover{
    font-size: x-large;
    color: chartreuse;
}
#box2 {
    background-color: cornsilk;
    margin-bottom: 50px;
    opacity: 0.8;
    grid-area: box2;
    width: 1500px;
    
}
#box2 p{
    border: 7px solid black;
    font-size: 20px;


    
}
#box3{
    position: fixed;
    bottom:1%;
    width: 100%;
    height: 7%;
    grid-area: box3;
}
#box3 h1{
    text-align: center;
    border-style: inset;
}
#box25{
    margin-top: 00px;
    width: 270px;
    height: 113px;
    border: inset #e4fcf6;
    background-color: coral;
    grid-area: box25;
    
}
#box26{
    /* margin-top: -317px; */
    width: 390px;
    height: 113px;
    border: inset #e4fcf6;
    background-color: #e35926;
    grid-area: box26;
}